body {
  position: relative;
}

.jumbotron {
  padding-top: 10rem;
  background: #cccccc;
}

.about {
  background: #273036;
  padding-top: 5rem;
}

.skills1 {
  background: #273036;
  padding-top: 5rem;
}

.project {
  background: #cccccc;
  padding-top: 5rem;
}

.bg_dark {
  background: #273036;
}

.contact {
  background: #273036;
  padding-top: 5rem;
}

.footer1 {
  background: #cccccc;
}

.text_link {
  text-decoration: solid;
}
